@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-image: url("mayank_khurmai.png");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: top;
}