@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0 , 0, 0.7);
    background-image: url("mayank_khurmai.png");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0px;
    margin: 0px;
}

.complete-navbar{
    opacity: 0.6S;
}

.google-black-font{
    font-family: 'Black Ops One', cursive;
    }

/* Dark Mode and Light Mode Switch Button  */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Dark Mode and Light Mode Switch Button End*/

.main-home-container{
    height: 100vh;
    border: 1px solid yellow;
    padding-top: 200px;
}


.hireme-button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(256, 76, 96);  
    outline: none;  
    border: none;
}

.main-home-container-social-icons{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


/* Menu Icon Code Start */
.menu-icon-container {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    border-radius: 10px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  /* Menu Icon Code End */

.custom-dark-bgcolor{
    background-color: black;
}

.custom-light-bgcolor{
  background-color: white;
}

.custom-dark-textcolor{
    color: black;
}

.custom-light-textcolor{
     color: white;
}


.menu-container{
    width: 200px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 40%;
    padding-top: 10px;
    padding-left: 10px;
}

.dark-light-div{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    padding-right: 10px;
}

.main-home-container-rightmost{
  margin: auto;
}